@font-face {
    font-family: GA_8x14;
    src: url("../font/Px437_ACM_VGA_8x16.ttf");
}

* {
    /*
    border: solid 1px red;
    */
    margin: 0;
    padding: 0;
    gap: 0;
    font-weight: 100;
    font-size: 22px;
    font-family: GA_8x14;
    color: var(--background-color);
    background: none;
    border: none;
    text-decoration: none;
}

body {
    display: grid;
    grid-template-rows: 2lh 1fr 1lh;
    background-color: var(--background-color-alt);
    height: 100vh;
}