@font-face {
    font-family: GA_8x14;
    src: url("font/Px437_ACM_VGA_8x16.ttf");
}
/* main divider */
body * {
    margin: 0;
    padding: 0;
}
body {
    background-color: blue;
    margin: 0;
    padding: 0;
    font-family: GA_8x14;
    font-size: 22px;
    line-height: 1.2em;
}
nav {
    display: flex;
    padding: 0 32px;
    height: 1em;
}
button {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    color: inherit;
    font: inherit;
    cursor: pointer;
}
nav a {
    background-color: blue;
    color: lightgray;
    padding: 0 1em;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}
main {
    display: flex;
    flex-direction: row;
    background-color: lightgray;
    padding: 12px 6px 12px 6px;
    width: auto;
    height: 90vh;
    color: blue;
}
article {
    padding: 14px 32px;
}
.selectible * {
    display: inline;
}
.selectible:hover {
    color: white;
}
.selectible button {
    position: absolute;
    left: 50%;
}
.selectible button::before {
  content: "[";
}
.selectible button::after {
  content: "]";
}
aside {
    display: flex;
    flex-direction: column;
    flex: 3;
}
hr {
  border: none;
  height: 1px;
  background-color: blue;
  margin: 0 6px;
}
/* class */
.metadata {
    height: 1em;
    color: white;
    text-align: center;
}
.active {
    background-color: lightgray;
    color: blue;
}
.container {
    position: relative;
    border: 1px solid blue;
}
.screen {
    flex: 9;
}
.title {
    color: black;
}
.option::before {
    position: absolute;
    left: 0;
    content: "▶";
}

.inAside {
    flex: 1;
    padding: 1em 6px 1em 6px;
}
/** {
  outline: 1px solid red;

}*/


